.heroImageContainer{
    height: 100vh;
}

.overlayCSS{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textAnimation{
    color: white;
    font-size: 3em;
    text-align: center;

}