.heading {
  margin: 15px auto;
  font-size: 3rem;
  width: fit-content;
  color: #314865;
}
.link {
  text-decoration: none;
  padding: 10px;
  color: white;
  background: #314865;
  border-radius: 100px;
  margin: 25px auto 40px;
  display: flex;
  width: fit-content;
  border: 1px solid #314865;
}
.link:hover {
  background-color: white;
  color: #314865;
}
@media (max-width: 480px) {
  .heading {
    font-size: 2rem;
  }
}
