.RowDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
  }

  .RowReverseDispllay {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
  }

.aboutImg {
  width: 30rem;
}

.paragAbout, .title {
  color: #314865;
}

.title{
  font-size: 64px;
  font-weight: 600;
}

.paragAbout {
  width: 45rem;
  height: 15rem;
  font-size: 30px;
  font-family: Montagu Slab;
  letter-spacing: 0.8px;
  font-weight: 300;

}
.line {
  border: 1px solid #D1D1D1;
  margin-top: 5rem;
  width: 105rem;
}
